nav {
  height: 70px;
  background-color: orange;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 23px;
  justify-content: start;
}
nav li {
  margin: 0 10px;
}
nav .logo {
  height: 25px;
  width: 120px;
}
nav .ticket {
  height: 30px;
  padding: 0px;
  margin-top: -5px;
  margin-left: 60px;
}
nav .heading {
  color: white;
  margin-top: 0px;
  margin-left: 10px;
}
nav .home {
  margin-left: 210px;
  text-decoration: none;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}
nav .Speakers {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav .Pages {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav .Schedule {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav .Sponsore {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav .News {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav .Contact {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.img3 {
  height: 40rem;
  width: 78rem;
}

.display {
  margin-top: -644px;
}

.about {
  padding: 120px 0;
}
.about .section {
  padding: 90px 0;
}
.about .container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.about .bgckground-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.about .align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
.about .about .image-block {
  padding: 30px;
}
.about .bg-about {
  background: url(../images/background/pattern-background.jpg) no-repeat;
  background-size: cover;
}
.about .about .image-block img {
  border-radius: 100%;
  box-shadow: 0px 0px 59px 0px rgba(11, 29, 66, 0.15);
}
.about .img-fluid {
  max-width: 100%;
  height: auto;
}
.about img {
  vertical-align: middle;
  border-style: none;
}
.about .align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
.about span.alternate {
  color: #ff6600;
  font-style: italic;
  font-weight: 400;
  margin-bottom: -20px;
}/*# sourceMappingURL=project.css.map */