.main{
    /* height: 500px;
    width: 100%; */
    /* background-color: blueviolet; */
}



div{
    height: 200px;
    width: 200px;
    margin: 40px auto;
    background-color: whitesmoke;
    border-radius: 20px;
    animation-name: task;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

div::before{
    color: black;
    content: counter(counter);
    font-size: 40px;
    height: 100%;
    width: 100%;
    display: flex;

    justify-content: center;
}

@keyframes task{
    0%{
        counter-increment:  0;
    }
    15%{
        counter-increment: counter 1;
    }
    30%{
        counter-increment: counter 2;
    }
    50%{
        counter-increment: counter 3;
    }
    65%{
        counter-increment: counter 4;   
    }
    75%{
        counter-increment: counter 6;
    }
}