/* .para{
   height: 200px;
   width: 300px;
   border: 2px solid black; 


   /* css transtion */
/* 
   .maindiv{
    border: 2px solid orchid;
    padding: 5px;
   }

   .transition{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
   } */

   /* .maindiv:hover .transition{ */
    /* width: 500px;
    height: 500px; */
    /* background-color: orange;
    transform: translate(1000px);
    transition-duration: 5s;
    transition-delay:5s;
    transition-property: all; */
    /* transition-timing-function: steps(10); */
  /* } */


  /* css transfrom */
/* 
  .transform{
    height: 100px;
    width: 100px;
    background-color: lawngreen;
    margin: 200px;
    color: white;
    font-size: 20px;
  } */

  /* .transform:hover{ */
    /* transform:translateX(200px) ; */
    /* transform: scale(.7); */
    /* transform: rotate(-1200px); */
    /* transform: skew(90deg,50deg); */
    /* transform: 2s; */
  /* }     
   */

 
   
  